.Menu{
  align-items: center;
  font-family: 'Orbitron', sans-serif;
}

.section{
  margin-left: 10%;
  margin-top: 0.4%;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
}

.section h4{
  padding: 5px;
  margin: 4px;
  width: fit-content;
  align-items: center;
  align-self: center;
}


.section h4:hover{
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  color: black;
}

#last {
  padding-right: 30px;
}